<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <section class="bg-light">
      <div class="container">
        <nav class="navbar navbar-light justify-content-between">
          <a class="navbar-brand" style="font-size: 40px">Home Page</a>
          <a href="/logout" aria-pressed="true"
            ><button class="btn btn-outline-success my-2 my-sm-0">
              Log Out
            </button></a
          >
        </nav>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div
            class="col-12 col-lg-6 col-md-12 bg-white p-5"
            style="height: 80vh"
          >
            <h1 class="text-info">WELCOME TO HOME PAGE</h1>
            <p class="text-black-50">
              Sed autem laudantium dolores. Voluptatem itaque ea consequatur
              eveniet. Eum quas beatae cumque eum quaerat.
            </p>
            <img class="img-fluid" src="/image/stats-img.svg" alt="" />
          </div>
          <div
            class="col-12 col-lg-6 col-md-12 bg-white p-5"
            style="height: 80vh"
          >
            <img class="img-fluid" src="/image/hero-img.svg" alt="" />
          </div>
        </div>
      </div>
    </section>
    <%- include('./partials/footer.ejs') %>
    <script>
      if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
      }
    </script>
  </body>
</html>
